<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container">
        <h1>Adicionar Livro</h1>
        <form method="POST">
            <input type="text" name="titulo" value="{{livro.titulo}}" placeholder="Título do Livro" required>

            <input type="text" name="autor" value="{{livro.autor}}" placeholder="Autor do Livro" required>

            <input type="number" name="ano" value="{{livro.ano}}" placeholder="Ano de Publicação" required>

            <button type="submit">Adicionar Livro</button>
            <a class="cancelar" href="/">Cancelar</a>
        </form>
    </div>
</body>
</html>