<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <h1>Biblioteca Virtual</h1>

    {% if mensagem %}
        <div class="mensagem">{{ mensagem }}</div>
    {% endif %}

    <a href="/adicionar"><button>Adicionar Livro</button></a>

    <table>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Ações</th>
        </tr>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.ano }}</td>
            <td>
                <a href="/editar/{{ livro.codigo }}"><button>Editar</button></a>
                <a href="/excluir/{{ livro.codigo }}"><button class="vermelho">Excluir</button></a>

                {% if livro.emprestado %}
                    <a href="/devolver/{{ livro.titulo }}"><button class="verde">Devolver</button></a>
                    <span>(Devolver até: {{ livro.data_devolucao }})</span>
                    {% if livro.atrasado %}
                        <span>Multa: R$ {{ livro.multa }}</span>
                    {% endif %}
                {% else %}
                    <a href="/emprestar/{{ livro.titulo }}"><button>Emprestar</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>