<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> Empréstimo de livros</h1>
          <!-- MENSAGENS FLASH -->
            {% with mensagens = get_flashed_messages() %}
              {% if mensagens %}
                <ul class="mensagens">
                  {% for msg in mensagens %}
                    <li>{{ msg }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

        <a class="botao" href="/adicionar_livro">+ Adicionar Livros</a>

        <table>
            <tr>
                <th>Nome</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Empréstimo</th>
            </tr>
            {% for livro in livros %}
            <tr>
                <td>{ livro }</td>
                <td>{ livro }</td>
                <td>{{livro[3]}}</td>
                <td>{ {% set codigo = livro[0] %}
                        {% if codigo in emprestimos %}

                <td>
                    <a class="botao pequeno" href="/editar_livro/{{ livro[0] }}">Editar</a>
                    <a class="botao vermelho pequeno" href="/apagar_livro/{{ livro[0] }}">Apagar</a>
                </td>
            </tr>
             {% endfor %}
        </table>
    </div>
</body>
</html>